*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(76, 161, 231);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
   align-items: center;
}
/*inicio cabecera*/
.cabecera{
    background-color: pink;
    width: 100%;

    background-color: rgb(161, 206, 245);
    width: 100%;
    height: 25px;
    padding: 0 40px;
}

/*fin  cabecera*/

/*inicio navegacion*/
.navegacion{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navegacion a{
    text-decoration: none;
    color: rgb(161, 206, 245);
    font-size: 18px;
    font-weight: 600;
    padding: 18px 50px;
}
.navegacion a:hover{
    color: rgb(7, 7, 7);
    background-color:  rgb(76, 161, 231);
}
/*fin cabecera*/

/*inicio banner*/
.banner{
background-color: url(../img/hiphop.jpg);
background-position: center;
width: 60%;
height: calc(30vh - 110px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner h1{
    color: rgb(22, 22, 22);
    font-size: 30px;
}

.banner h3{
    color: #ffffff;
    font-size: 30px;
}


/*inicio banner*/

/*inicio seccion 2*/
.seccion-2{
    background-color:rgb(143, 210, 255);
     width: 70%;
     height: 245vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 5% 0;
     border-radius: 20px;
    
     
}





.bloque-izq{
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     padding: 0 3%;
}
.izq-titulo{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.izq-titulo h2{
font-size: 20px;
text-align: center;      
}
.izq-titulo h3{
font-size: 17px;
margin-top: 18px; 
text-align: justify;
   
}
.izq-img{
    width: 180%;
    margin: 30px 0;
    
}
.izq-img img{
    object-fit: cover;
    width: 100%;
    
    
}

.izq-parrafo{
    font-size: 19px;
    margin: 10px;
    text-align: justify;
}

.bloque-der{
 width: 40%;
 height: 80%;
 background-color: rgb(146, 146, 209);
 padding: 0 3%;
}
.der-titulo{
 text-align: center;
}

.der-titulo h3{
font-size: 2px;
}
.der-noticias{
 display: flex;
 flex-direction:row;
 justify-content: center;
 align-items: start;
 margin: 30px 0;
}
.noticias-img{
 width: 60%;
 height: 150%;
}
.noticias-img img{
 object-fit: cover;
 width: 100%;
 height: 150px;
}
.noticias-textos{
 width: 60%;
 margin: 0 5px;
}
.noticias-textos h4{
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
   }
   .noticias-textos p{
    font-size: 15px;
    text-align: justify;
    
   }
   .noticias-textos a{
    font-size: 14px;
    margin-top: 10px;
    
   }

/*finaliza seccion 2*/

footer{
    background-color: rgb(44, 145, 228);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    

}